.background {
    background: linear-gradient(rgba(242, 19, 79, 0.17), rgba(242, 19, 79, 0.17)), url(./images/unnamed@2x.png);
    position: relative;
}

.div1 {
    position: fixed;
    top: 15%;
    left: 30%;
    width: 30em;
    height: 70%;
    background-color: white;
    padding: 2%;
    min-width: 275px;
}

.logoDiv {
    display: flex;
    padding: 5%;
    justify-content: center;
}

.div1text {
    text-align: center;
    padding: 2%;
    font-size: x-large;
}

.description {
    font-size: smaller;
    text-align: center;
    padding-bottom: 5%;
}

.textField {
    display: flex;
    justify-content: center;
    align-content: center;
}

.cancelIcon {
    position: absolute;
    top: -25px;
    left: 96%;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .div1 {
        height: 35em;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .div1 {
        height: 35em;
        left: 15%;
        width: 25em;
    }
}

@media (min-width: 377px) and (max-width: 425px) {
    .div1 {
        height: 30em;
        left: 4%;
        width: 23em;
    }
}

@media (min-width: 320px) and (max-width: 376px) {
    .div1 {
        height: 30em;
        width: 22em;
        left: 1%;
    }
}