.main {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    font-size: x-large;
    margin-left: 2%;
}

.formDiv {
    margin: 2% 0;
    margin-left: 2%;
    padding: 1%;
    background-color: white;
    width: 40em;
    display: flex;
    flex-direction: column;
}

.row1 {
    display: flex;
    margin: 2% 0;
    padding: 1%;
    justify-content: space-around;
}

.row2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    margin: 3% 0;
    margin-right: 15%;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 1%;
}

.buttons {
    margin: 2%;
}

.label {
    white-space: nowrap;
}

.label1 {
    white-space: nowrap;
    margin-left: 5%;
    margin-right: 2%;
}

@media only screen and (max-width: 600px) {
    .formDiv {
        width: 20em;
    }
    .row2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    .label1 {
        margin-left: 3%;
    }
}