.main {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.title {
  font-size: xx-large;
}
.formDiv {
  margin: 2% 0;
  padding: 1%;
  width: 60%;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000014;
  border-radius: 5px;
  opacity: 1;
}
.uploadDiv {
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #f0f2f8 0% 0% no-repeat padding-box;
  opacity: 1;
}
.row1 {
  display: flex;
  margin: 2% 0;
  flex-direction: row;
  justify-content: space-around;
}
.row2 {
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 5%;
  margin: 2% 0;
}
.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.buttons {
  margin: 2%;
}
